{% extends "layout.html" %}

{% block title %}
    Stock Quotes
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Stock Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Get Quote</button>
    </form>
    {% if result %}
    <div class="section" id="results-area">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Symbol</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ result.name }}</td>
                    <td>{{ result.price }}</td>
                    <td>{{ result.symbol }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endif %}

{% endblock %}